body {
  background-color: antiquewhite;
}
.bothDiv {
  border: 8px solid black;
  height: 128px;
  width: 512px;
  margin: 16px;
  padding: 16px;
}
.firstDiv {
  box-sizing: content-box;
  background-color: aquamarine;
}
.secondDiv {
  box-sizing: border-box;
  background-color: azure;
}